.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    h2 {
      margin-bottom: 1rem;
      text-align: center;
      font-size: 42px;
      
      .title {
        margin-bottom: 25px;
        cursor: pointer;
      }
    }
  
    .preview {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
    }
  }

  @media (max-width: 668px){
    .category-preview-container {

      .preview{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;

        // display: flex;
      }
    }
  }